{
    "Kestrel": {
        "EndPoints": {
            "Http": {
            "Url": "http://localhost:4300"
            }
        }
    },
    "ConnectionStrings": {
        "ClientDatabase": "Host=localhost;Username=postgres;Password=mypassword;Database=postgres;"
    },
    "ResendInterval" : 30,
    "PollingInterval" : 10
}
