{
    "Kestrel": {
        "EndPoints": {
            "Http": {
            "Url": "http://localhost:4300"
            }
        }
    },
    "ConnectionStrings": {
        "ClientDatabase": "Host=localhost;Username=postgres;Password=mysecretpassword;Database=postgres;",
        "AuthServer": "https://<authtoken-url>",
        "ApiServer": "https://<bundles-endpoint-url>",
        "LocalServer":"https://localhost:5001/MA/bundles"
    },
    "Authentication": {
        "ClientId": "theclientid",
        "ClientSecret": "theclientsecret",
        "Username":"user",
        "Password":"password",
        "Scope": "openid profile email"
    },
    "JurisdictionEndpoint": "https://example.com/jurisdiction/message/endpoint",
    "LocalTesting" : false,
    "ResendInterval" : 14400,
    "PollingInterval" : 60
}